*{
    margin: 0;
    padding: 0;
}
#spotlight i::before{
    margin-right: 3px;
}
input{
    border: none;
    width: 75%;
}
input:focus{
    outline: none;
}
#search{
    border: 2px solid #376abe;
    border-radius: 10px;
    padding: 10px;

}
#search p{
    font-size: 15px;
    color: #ababab;
    margin-bottom: 0px;

}
#search i{
    margin-left: 4px;

}
#search i::before{
    color: #ababab;
}
#signin i::before{
    width: 50px;
    height: 50px;
}
.cart1{
    position: absolute;
    background-color: yellow;
    top: 15px;
    left: 12px;
    font-weight: bold;
    border-radius: 42px;
    height: 20px;
    width: 20px;
    border:1px solid black;
    line-height: 10px;
    padding: 5px;
}
#featurespro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e7e7e7;
    border-radius: 20px;
}
.newproduct{
    position: absolute;
    background-color: green;
    top: 10px;
    left: 10px;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.newproduct1{
    position: absolute;
    background-color: red;
    top: 50px;
    left: 10px;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
#singmargin h5{
    margin-top: -5px;
}
/* ===============Slider code=========================== */
.slider{
    width: 100%;
    height: 380px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.slider .list{
    display: flex;
    transition: 1s;
    width: 100%;
    height: 100%;
}
.slider .item {
    flex: 1 0 100%;
    height: 100%;
}

.slider .list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(116, 116, 116, 0.333);
    color: #000000;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 32px;
    left: 0;
    color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #878787;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

#sliderCoupon{
    margin: 10px;
    border: 1px black solid;
    border-radius: 10px;
    padding:2px;
}
#imagesize1 img{
    width: 130px;
    height: 130px;
}
#sliderCoupon h5{
    display: flex;
    justify-content: space-evenly;
    background-color: #feedd5;
    padding-top: 10px;
    padding-bottom: 5px;
}
#coupancode h5{
    border: green dotted;
    font-size: 20px;
    margin-left: -25px;
    display: flex;
    justify-content: center;
}
#coupancode p{
    font-size: 10px;
    margin-left: -25px;
    display: flex;
    justify-content: center;
}


#navstyel{
    background-color: #1b55b5;
    border-radius: 10px;
}
#navbarNav a{
    color: white;
    font-size: 18px;
    padding-right: 60px;
}
#nevbarheading{
    color: white;
}
#nevbarheading i{
    color: yellow;

}
#coreitems{
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 20px;
}
#coreitems img{
    width: 100px;
    height: 100px;
}
#coreitems a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}
#catagari{
    text-align: center;
}
#catagari img{
    width: 115px;
    height: 115px;
    border-radius: 80px;
}
#catagari h5{
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}
#catagari p{
    color: #969696;
    font-size: 15px;
}
#productbox{
    width: 360px;
    height: 520px;
    border: 1px rgb(91, 91, 91) solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#productbox img{
    width: 340px;
    height: 340px;
    border-radius: 20px;
}
#paragrap{
    font-size: 15px;
    color: #969696;
    margin: 0px;
}
#paragrap2{
    font-size: 15px;
    color: white;
    margin: 0px;
}
#productbox h4{
    font-size: 16px;
    font-weight: bolder;
}

#productbox1{
    width: 270px;
    height: 430px;
    border: 1px rgb(91, 91, 91) solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#productbox1 img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
#productbox1 h4{
    font-size: 14px;
    font-weight: bolder;
}


/* ================================ */
.CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #1b55b5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
.IconContainer svg{
    color: white;
}
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
  #video2 video{
    margin-top: 10px;
    width: 360px;
    height: 520px;
    border-radius: 20px;
  }
  #footer1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #222529;

  }
  #footer1 p{
    color: white;
    margin: 0px;
    margin-top: 5px;
  }
  #footer1 h5{
    color: white;
  }
  #footer1 img{
    width: 340px;
    height: 60px;
  }
  #footer1 h4{
    color: white;
    text-align: center;
  }
  .footericon{
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 40px;
}
.footericon img{
    width: 20px !important;
    height: 20px !important;
}
#footer1 ul{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#footer1 li{
    list-style: none;

}
#footer1 li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 10px;
    padding: 10px;
    align-items: center;
}